@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background-color: black;
}



.first {
	margin-bottom: 20vh;
}

canvas {
	position: fixed;
	inset: 0;
	z-index: 0;
}

.balrogIntro {
	height: 160vh;
	color: ghostwhite;
	display: flex;
	flex-wrap: wrap;

	align-items: center;
}

.bTitle {
	width: 40vw;

	font-size: 7rem;


}

.imgContainer {
	width: 100vw;
}

.imgTContainer {
	width: 30vw;
}

.balImg {
	height: 60vh;
	margin-left: 30vw;
	border-radius: 10px;


}

.imgBDes {
	font-size: 0.8rem;



	background: rgba(255, 255, 255, 0.113);
	border-radius: 5px;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 0, 0, 0.3);

	margin-left: 30vw;
	padding: 0.2rem 1rem;
}

.imgTDes {



	font-size: 0.8rem;
	background: rgba(255, 255, 255, 0.113);
	border-radius: 5px;
	box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 187, 0, 0.3);


	padding: 0.2rem 0.5rem;
}

.travisIntro {
	height: 110vh;

	color: ghostwhite;
	display: flex;



	flex-wrap: wrap;


}

.travisImg {
	width: 100%;
	border-radius: 5px;
	margin-bottom: 0.2rem;


}



.tTitle {
	margin-top: 9rem;
	width: 80vw;
	font-size: 7rem;

}

#app {
	@apply z-50 relative;
}